{% extends "base.html" %}

{% block title %}IT Helpdesk Command Center - Dashboard{% endblock %}

{% block content %}
    {% include "components/sidebar.html" %}

    <main class="flex-1 flex flex-col h-screen overflow-hidden">
        {% include "components/header.html" %}

        <div class="flex-1 overflow-y-auto p-8">
            <div class="max-w-7xl mx-auto">
                {% include "components/tab_dashboard.html" %}
                {% include "components/tab_it_users.html" %}
                {% include "components/tab_settings.html" %}
            </div>
        </div>
    </main>

    {% include "modals/ticket_modals.html" %}
    {% include "modals/staff_user_modals.html" %}

    <script id="tickets-data" type="application/json">{{ tickets_json | safe }}</script>
    <script id="departments-data" type="application/json">{{ departments_json | safe }}</script>
    <script id="it-staff-data" type="application/json">{{ it_staff_json | safe }}</script>
    <script id="bot-time-data" type="application/json">{{ bot_time_parts | safe }}</script>

    <script>
        window.CURRENT_ROLE = "{{ session.role }}";
    </script>
{% endblock %}

{% block extra_scripts %}
    <script src="{{ url_for('static', filename='js/admin.js') }}"></script>
{% endblock %}